body{
  background-color: #F8BBD0;
  /* background-image: url('flowers.JPG'); */
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.sfpc{
  height: 70vmin;
  pointer-events: none;
}


.days_1{
  height: 57vmin;
  pointer-events: none;
}

.days_2{
  height: 63vmin;
  pointer-events: none;
}

.days_3{
  height: 57vmin;
  pointer-events: none;
}

.days_4{
  height: 63vmin;
  pointer-events: none;
}
.days_5{
  height: 33vmin;
  pointer-events: none;
}
.notes{
  height: 50vmin;
  pointer-events: none;
}
.tea{
  height: 60vmin;
}
.air{
  height: 50vmin;
  
}
.snake{
  height: 40vmin;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}


