.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* padding: 1em; */
    margin-bottom: 1em;
    background-color: #F8BBD0;
    color: #fff;
  }